.header {
  @include display-flex();
  width: 100%;
  height: 20vh;
  background-color: $color-header;
}

.navbar {
  width: 30%;
}

.links {
  @include display-flex();
  justify-content: space-between;
  width: 100%;
  list-style: none;
}

.links__item > a {
  color: #000000;
  text-decoration: none;
  padding: 5px 10px;
  background-color: $color-form;
  border-radius: 10px;

  &:hover {
    opacity: 0.7;
  }
}

.forms {
  @include display-flex(space-between, flex-start);
  gap: 10px;
  flex-direction: column;
  width: 100%
}

.data-container {
  @include display-flex(space-between, flex-start);
  width: 70%;
  gap: 10px;
  padding: 30px 0;

  & img {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    background-color: $color-header;
  }
}

.view-data {
  @include display-flex(space-between, flex-start);
  gap: 5px;
  width: 100%;
}

.data-list {
  @include display-flex();
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
  min-height: 100%;
  padding: 10px;
  background-color: $color-header;
  border-radius: 10px;

  & ul {
    list-style: none;
  }

  & li {
    @include display-flex(space-between);
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: #ffffff;
  }

  & p {
    width: 50%;
    word-wrap: break-word;
  }
}