* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Bebas Neue', sans-serif;
}

p {
  font-family: 'Acme', sans-serif;
  color: $color-p;
}

#root {
  background-color: $color-dark-blue;
}
