.wrapper {
  @include display-flex(flex-start, center);
  flex-direction: column;
  margin: auto;
  width: 80vw;
  height: 100vh;
  background-image: linear-gradient(to right, #091034, #1f2f7b, #091034);
}