@mixin display-flex ($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
};

@mixin media-table {
  @media screen and (max-width: 768px) {
    @content
  }
};

@mixin media-laptop {
  @media screen and (max-width: 1200px) {
    @content
  }
};

@mixin media-mobile {
  @media screen and (max-width: 480px) {
    @content
  }
}