$color-p: #a9c600;
$color-h: #f0d902;
$color-heading: #f0a902;
$color-dark-blue: #091034;
$color-blue: #1f2f7b;

%pagination-btn {
  @include display-flex(center, center);
  font-size: 100px;
  color: $color-h;
  width: 30px;
  height: 30px;
  transition: all 0.5s;
  &:hover {
    cursor: pointer;
    color: $color-p;
  }

  &:active {
    opacity: 0.8;
  }
}