$color-p: #a9c600;
$color-h: #f0d902;
$color-heading: #f0a902;
$color-dark-blue: #091034;
$color-blue: #1f2f7b;

%pagination-btn {
  @include display-flex(center, center);
  width: 30%;
  height: 30px;
  color: $color-blue;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: $color-h;
  box-shadow: 0px 0px 24px -6px yellow;
  transition: all 0.5s;
  &:hover {
    cursor: pointer;
    color: $color-p;
  }

  &:active {
    opacity: 0.8;
  }
}