.detail {
  position: relative;
  bottom: 20px;
  flex: 1;
  @include display-flex(center, center);
  flex-direction: column;
  box-shadow: 0px 0px 20px -6px #a9c600;
  border-radius: 20px;

  &__close {
    width: max-content;
    color: $color-h;
    padding: 15px;
    margin-top: 20px;
    box-shadow: inset 0px 0px 20px -6px $color-p;
    border: none;
    background-color: transparent;
    border-radius: 20px;
    transition: all 0.5s;

    &:hover {
      cursor: pointer;
      transform: scale(101%);
      box-shadow: inset 0px 0px 10px 0px $color-p;
      background-color: $color-blue;
    }
    
    &:active {
      transform: scale(95%);
    }
  }

  &__wrapper {
    width: 90%;
    height: 425px;
    overflow: scroll;
    margin: 20px 0;
    padding: 15px;
    box-shadow: inset 0px 0px 20px 6px #a9c600;
    border-radius: 20px;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__item {
    @include display-flex(space-between, center);
  }

  &__name {
    width: fit-content;
    margin: 0;
    color: $color-h;
    letter-spacing: 2px;
    border-bottom: 5px dotted $color-h;
    @include media-table {
      font-size: 20px;
    }
  }

  &__value {
    font-size: 25px;
    text-align: right;
    margin: 5px 0 15px;
    @include media-table {
      font-size: 17px;
    }
  }
}
