@keyframes turn {
  from {
    transform: rotateY('');
  }
  to {
    transform: rotateY(1turn);
  }
}

.loader {
  display: flex;
  width: 40px;
  height: 60px;
  margin: 0;
  position: absolute;
  top: 100px;
  color: $color-heading;
  background-image: url('/icons8-baby-yoda-64.png');
  background-repeat: no-repeat;
  background-size: contain;
  animation: turn 2s infinite linear;
}