.pagination {
  @include display-flex(space-between, center);
  gap: 10px;
  width: 5vw;
  padding-top: 20px;
  margin: auto;
}

.page-number {
  font-size: 40px;
  color: $color-h;
}

.prev {
  @extend %pagination-btn;
}

.next {
  @extend %pagination-btn;
}