.pagination {
  flex: 100%;
}

.btn-container {
  @include display-flex(space-between, center);
  gap: 10px;
  width: 30vw;
  padding-top: 30px;
  margin: auto;
}

.page-number {
  font-size: 40px;
  color: $color-h;
}

.prev {
  @extend %pagination-btn;
  background-image: url('/icons8-galactic-senate-32.png');
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(-90deg);
}

.next {
  @extend %pagination-btn;
  background-image: url('/icons8-galactic-senate-32.png');
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(90deg);
}