.page-loader {
  z-index: 10;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $color-loader
}

.page-loader__icon {
  display: flex;
  width: 100px;
  height: 100px;
  margin: 0;
  position: absolute;
  top: 100px;
  right: calc(50% - 50px);
  color: $color-heading;
  background-image: url('/icons8-baby-yoda-64.png');
  background-repeat: no-repeat;
  background-size: contain;
  animation: turn 2s infinite linear;
}