.results {
  width: 100%;
}
.results__wrapper {
  @include display-flex(space-evenly, stretch);
  flex-wrap: wrap;
  color: #a9c600;
  padding-top: 50px;
}

.result__item {
  @include display-flex(flex-start, stretch);
  flex-direction: column;
  width: 40%;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 20px -6px #a9c600;
  border-radius: 20px;
}

.item__name {
  width: fit-content;
  margin: 0;
  color: #f0d902;
  border-bottom: 5px dotted #f0d902;
}

.item__value {
  font-size: 25px;
  margin: 5px 0 15px;
}