.search {
  @include display-flex(flex-start, center);
  flex-direction: column;
  gap: 10px;
  width: 40%;
  @include media-laptop {
    width: 50%;
  }
  @include media-table {
    width: 80%;
  }

  &__form {
    position: relative;
    width: 100%;
  }

  &__input {
    width: 100%;
    padding:  10px 0px 10px 10px;
    border-radius: 20px;
    border: none;
  }

  &__btn {
    position: absolute;
    top: 2px;
    right: 2px;
    text-decoration: none;
    text-align: center;
    width: max-content;
    padding: 6px;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    background-color: #3a3838;
    transition: all 0.5s;

    &:hover {
      cursor: pointer;
      background-color: #605e5e;
    }

    &:active {
      transform: scale(0.9);
    }

    &:disabled {
      color: #3a3838;
      background-color: #b4aeae;
      cursor: default;
      &:active {
        transform: none;
      }
    }
  }
}

.heading {
  padding: 20px 0 30px;
  color: $color-heading;
  text-align: center;
}

.not-found {
  position: absolute;
  font-size: 45px;
}

.error-message {
  font-size: 24px;
  color: #f42929;
}

.error-message-2 {
  margin-top: 50px;
  font-size: 36px;
  letter-spacing: 1px;
  color: #f42929;

}