* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  @include display-flex();
  flex-direction: column;
  width: 100%;
}

input {
  margin-left: 10px;
}

h1 {
  text-align: center;
}

.back-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.error-message {
  color: red;
}